.footer {
  padding: 64px 39px 80px 39px;
  background: #90d4c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // tablet
  @media (min-width: 768px) {
    padding: 72px 0;
  }

  &__logo {
    width: 170px;
    height: 33px;
  }

  &__links {
    margin-top: 40px;
    width: 297px;
    display: flex;
    justify-content: space-between;
    &--link {
      font-size: 1.125rem;
      line-height: 1.563rem;
      letter-spacing: -.008rem;
      text-decoration: none;
      &:hover {
        color: #fff !important;
        transition: .4s;
      }
    }
  }

  &__social {
    margin-top: 88px;
    width: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link {
      cursor: pointer;
      &:hover {
        filter: brightness(0) invert(1);
        transition: .4s;
      }
    }
    .tw {
      height: 16.25px;
      width: 20px;
    }
  }
}